/*  вторичный цвет текста #434455 */
/* вторичные цвета фона #FFFFFF #F4F4FD  */
/* акцент #4D5AE5 */

:root {
--primary-text-color: #2E2F42;
--title-text-color: #434455;
--accent-color: #4D5AE5;
--background-color: #FFFFFF;
--footer-text: #E7E9FC;
--font-family: 'Roboto', sans-serif;
--text-contact: #434455;
}

body {
font-family: var(--font-family);
color: var(--primary-text-color);  
background-color: var(--background-color); 
}

.link {
text-decoration: none;
}

.list{
list-style: none;
}
 /* --------------------HEADER-------------------- */
.page-header {
background: #FFFFFF;
}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
text-decoration: none;
}

.logo-web {
color: var(--accent-color);
}

.page-nav .link {
font-weight: 700;
font-size: 16px;
line-height: 1.5;
color: var(--primary-text-color);
}

.page-nav .link:hover, 
.page-nav .link:focus {
color: var(--accent-color);
}

.contact-email {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-contact);
}

.contact-phone-number {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text-contact);
}

.contact-email:hover,
.contact-email:focus {
color: var(--accent-color);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
color: var(--accent-color);
}

/* ---------------------HERO------------------ */

.hero {
background: #2E2F42;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #FFFFFF;
}

.modal-btn {
font-family: inherit;
background-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.19;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.futures {
background-color: #E5E5E5;    
}

.what-are-we-doing {
 background-color: #E5E5E5;    
}

.section-team {
background: #F4F4FD;
}

.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
}

.list-title {
font-weight: 700;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-color);
}

.footer {
background-color: var(--primary-text-color);
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}

.logo-studio-footer {
color: #F4F4FD;
}

.btm-filters {
cursor: pointer;
font-weight: 700;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--accent-color);
background-color: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
font-family: inherit;
}

.btm-filters:hover,
.btm-filters:focus {
background-color: var(--accent-color);
color: var(--background-color);
}

.portfolio {
background-color: #E5E5E5;
}

